/* WHOMAP, Group 4, COSC2650 Programming Project 1 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

#hide {
    position: fixed;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255,255,255);
}

#save-area {
    position: absolute;
    top: 75px;
    right: 25px;
    bottom: 25px;
    left: 150px;
    background-color: rgb(255,255,255);
    z-index: 5;
    word-wrap: break-word;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 75px;
    right: 25px;
    bottom: 25px;
    left: 150px;
    min-width: 325px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0,0,0);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#top-bar {
    position: absolute;
    top: 0;
    height: 50px;
    min-width: 500px;
    width: 100%;
    background-color: rgb(128,128,128);
}

#logo {
    position: absolute;
    top: 0px;
    left: 10px;
    height: 50px;    
    font-family: 'Arial';
    font-size: 30px;
    text-decoration: none;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: rgb(128,128,128);
    color: rgb(230,230,230);
    line-height: 50px;
    background: -webkit-radial-gradient(white, orange);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#top-bar img {
    position: relative;
    display: flex;
    float: right;
    font-family: 'Arial';
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border: 0;
    outline: 0;
    background-color: rgb(128,128,128);
    color: rgb(230,230,230);
    padding: 10px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#top-bar img:hover, #top-bar img:active {
    background-color: rgb(64,64,64);
    cursor: pointer;
}

#transparency {
    position: fixed;
    z-index: 6;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: radial-gradient(black, grey);
    opacity: 0.5;
    text-align: center;
}

#about {
    z-index: 7;
    width: 250px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about-title {
    width: 200px;
}

.popup {
    position: absolute;
    margin: auto;
    background-color: rgb(255,255,255);
    text-align: left;
    font-family: 'Arial';
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0,0,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-bar {
    display: inline-flex;
    height: 40px;
    background-color: rgb(128,128,128);
}

.popup-title {
    text-align: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: rgb(230,230,230);
    background: -webkit-radial-gradient(white, orange);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-close {
    text-align: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: none;
    color: rgb(230,230,230);
    background-color: rgb(128,128,128);
    text-decoration: none;
    line-height: 40px;
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.popup-close:hover, .popup-close:active {
    background-color: rgb(64,64,64);
    cursor: pointer;
}

.popup-content {
    margin: 12px;
}

.popup-body {
    font-size: 12px;
    margin: 0 0 6px 0;
}

.popup-body a {
    text-decoration: none;
    position: relative;
    color: rgb(0,128,255);
}

.popup-body a:hover {
    text-decoration: none;
}

.popup-body a:after {
    border-radius: 1em;
    border-top: .1em solid rgb(0,128,255);
    content: "";
    position: absolute;
    right: 100%;
    bottom: .01em;
    padding-bottom: .1px;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
}

.popup-body a:hover:after {
    right: 0;
}

.popup-body a:visited {
    color: rgb(0,128,255);
}

.popup-button {
    width: 230px;
    height: 40px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    outline: 0;
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    margin-top: 6px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.popup-button:hover, .popup-button:active {
    cursor: pointer;
}

#donate-button {
    color: rgb(255,255,255);
    background-color: rgb(0,112,186);
}

#donate-button:hover, #donate-button:active {
    background-color: rgb(0,0,160);
}

#contact-button {
    color: rgb(128,128,128);
    background-color: rgb(230,230,230);
}

#contact-button:hover, #contact-button:active {
    color: rgb(255,255,255);
    background-color: rgb(128,128,128);
}

#contact {
    z-index: 8;
    width: 340px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#contact-title {
    width: 290px;
}

#contact-name {
    margin: 0 0 12px 0;
    padding: 0 0 0 36px;
    width: 278px;
    line-height: 30px;
    border-style: solid;
    border-color: rgb(230,230,230);
    border-width: 1px;
    text-align: left;
    font-size: 12px;
    font-family: monospace;
    background-image: url(icon-name.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
}

#contact-email {
    margin: 0 0 12px 0;
    padding: 0 0 0 36px;
    width: 278px;
    line-height: 30px;
    border-style: solid;
    border-color: rgb(230,230,230);
    border-width: 1px;
    text-align: left;
    font-size: 12px;
    font-family: monospace;
    background-image: url(icon-email.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
}

#contact-message {
    margin: 0 0 6px 0;
    padding: 9px 9px 9px 36px;
    width: 269px;
    height: 128px;
    border-style: solid;
    border-color: rgb(230,230,230);
    border-width: 1px;
    text-align: left;
    font-size: 12px;
    font-family: monospace;
    background-image: url(icon-message.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
    resize: none;
}

#contact-submit-button {
    margin-left: 43px;
    margin-right: 43px;
    color: rgb(128,128,128);
    background-color: rgb(230,230,230);
}

#contact-submit-button:hover, #contact-submit-button:active {
    color: rgb(255,255,255);
    background-color: rgb(128,128,128);
}

.controls {
    position: absolute;
    padding: 0;
}

.controls button {
    font-family: 'Arial';
    text-decoration: none;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: rgb(255,255,255);
}

.controls button:hover, .controls button:active, .controls button:focus {
    background-color: rgb(128,128,128);
    color: rgb(255,255,255);
    cursor: pointer;
}

#map-controls {
    top: 50px;
    left: 10px;
    width: 130px;
}

#map-controls button {
    width: 130px;
    height: 30px;
    font-size: 12px;
    padding-left: 12px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

#map-controls p {
    margin: 0;
    width: 130px;
    font-size: 18px;
    line-height: 30px;
    padding-left: 6px;
    padding-top: 25px;
    font-family: 'Arial';
    text-decoration: none;
    text-align: left;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

#legend {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    margin: 10px;
    background-color: rgb(255,255,255);
    position: absolute;
    top: 75px;
    left: 150px;
    width: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

#legend p {
    margin-top: 6px;
    margin-bottom: 6px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#legend img {
    padding: 2px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#legend img:hover, #legend img:active {
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(128,128,128);
    cursor: pointer;
}

#layer-gradient {
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#marker {
    margin: 10px;
    background-color: rgb(255,255,255);
    position: absolute;
    top: 75px;
    right: 25px;
    width: 240px;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

#marker-bar {
    display: inline-flex;
    height: 20px;
}

#marker-title {
    text-align: left;
    font-size: 12px;
    width: 210px;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color: rgb(230,230,230);
    background-color: rgb(128,128,128);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

#marker-close {
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border: none;
    color: rgb(230,230,230);
    background-color: rgb(128,128,128);
    text-decoration: none;
    line-height: 20px;
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#marker-close:hover, #marker-close:active {
    background-color: rgb(64,64,64);
    cursor: pointer;
}

#marker-content {
    margin: 10px;
}

.marker-body {
    font-size: 12px;
    margin: 0 0 3px 0;
    text-align: left;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
}

footer p {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.loader {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 10px solid rgb(230,230,230);
    border-radius: 50%;
    border-top: 10px solid rgb(64,64,64);;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}